<div class="row">
    <div class="col">
        <h1 *ngIf="termino == undefined">Héroes <small>Marvel y DC</small></h1>
        <h1 *ngIf="termino != undefined">Buscando: <small>{{ this.termino }}</small></h1>
        <hr>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div *ngIf="this.heroes.length > 0" class="card-columns">
            <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="foo" *ngFor="let foo of heroes"></app-heroe-tarjeta>
        </div>
        <div *ngIf="this.heroes.length==0" class="alert alert-info animated fadeIn fast">No existen resultados con el término {{ termino }}</div>
    </div>
</div>